html{
	/*font-family:sans-serif;*/
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	background-color: #ECD5CA;

	animation-duration: 20s;
	animation-iteration-count: infinite;
  animation-name: colorfondo;
}
/*inicio del heder*/

* {box-sizing: border-box;}
.imagenLogo{
  height: 70px;
  border-radius: 14px;
}
#header{
  background-color: #7c342b;
  margin: 0;
  padding: 7pt;
}
.navbar-toggler {
  width: 50px;
  height: 37px;
  border: 0;
}
.navbar-lighte{
  background-color: #F8F8F8;
  border-color: #E7E7E7;
}
.miLi :hover{
  transform: scale(1.1,1.1);
  text-align: center;
  box-shadow: 1px 2px 1px #FDE6B7;
  border-radius: 1em;
}
li a:focus {
  transform: scale(1.1,1.1);
  text-align: center;
  box-shadow: 1px 2px 1px #FDE6B7;
  border-radius: 1em;
}

.miLi{
  padding-left: 9%;
  padding-right: 9%;
  border-radius: 1em;
  font-size: 20px;
  font-size-adjust: 0.5;
  font-family: "Latin Modern Roman 13";
  font-style: normal;
}

/*animacion de fondo*/
@keyframes colorfondo {
  from {
    background-color: #FFFFF0;
  }

  to {
    background-color: #FFEBCD;
  }
}
 /* fin animacion */

 /* inicio Fotter */
/*  iframe {
  max-width: 100%;
  height: auto;
} */

#galeria1{
  padding: 6.1em 0 0;
  height: 90%;
}
.col-md-6 {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.fa {
      padding: 15px;
      font-size:15px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
      }
      .fa:hover {
          opacity: 0.7;
          background: #B6240A;
      }
      hr{
        background: #B6240A;
      }
      p{
        color: #E9967A;
        opacity: 0.4;
      }
      .fa-facebook {
        background: #FDE6B7;
        color: #E9967A;
         opacity: 0.4;
      }
      .fa-linkedin {
        background: #FDE6B7;
        color: #E9967A;
         opacity: 0.4;
      }
      .fa-instagram {
        background: #FDE6B7;
        color: #E9967A;
         opacity: 0.4;
      }
      .fa-twitter {
        background: #FDE6B7;
        color: #E9967A;
         opacity: 0.4;
      }
/* inicio Fotter */

 /*  .carousel, .carousel-inner, .carousel-inner > .item > img {
    height: 1000px;
  } */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
